body {
  margin: 0;
  max-width: 100%; }
  body #container {
    width: 1347px;
    overflow: hidden;
    margin: 0 auto; }
    body #container #nav {
      background: #fff;
      width: 8.8%;
      float: left;
      position: fixed; }
    body #container #right {
      width: 91.2%;
      float: right; }
      body #container #right #header {
        background: #fff; }
      body #container #right #wrapper {
        background: url(../img/bk.png); }
      body #container #right #footer {
        background: #9ac46e; }

.menu {
  box-shadow: 0px 0px 30px 0px;
  -moz-box-shadow: 0px 0px 30px 0px;
  -webkit-box-shadow: 0px 0px 30px 0px;
  -o-box-shadow: 0px 0px 30px 0px;
  -ms-box-shadow: 0px 0px 30px 0px;
  height: 676px; }
  .menu h1 {
    margin: 0; }
    .menu h1 a img {
      margin: 26px 0px 21px 19px;
      width: 83px; }
  .menu .one {
    text-align: center; }
    .menu .one a {
      color: #131313; }
      .menu .one a img {
        width: 22px; }
      .menu .one a p {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 15px; }

.header-top {
  border-top: 16px solid #5ba012;
  overflow: hidden; }
  .header-top .slogan {
    float: left;
    margin: 16px 0px 0px 22px; }
    .header-top .slogan img {
      width: 427px; }
  .header-top .loa {
    color: #5ba012;
    float: left;
    font-weight: bold;
    border-bottom: 1px solid #5ba012;
    position: relative;
    margin: 18px 0px 0px 59px; }
    .header-top .loa p {
      position: absolute;
      font-size: 9.4px; }
    .header-top .loa img {
      width: 110px; }
  .header-top .number {
    border-top: 2px solid #5ba012;
    margin: 16px 10px;
    float: left; }
    .header-top .number p {
      color: #5ba012;
      font-size: 9.7px;
      font-weight: bold;
      margin: 7px 114px 4px 14px; }
    .header-top .number .pink {
      background: #c31458;
      border-radius: 8px;
      width: 82px;
      margin: 0px 10px;
      text-align: center;
      float: left; }
      .header-top .number .pink p {
        color: #fff;
        padding: 5px 0px;
        margin: 0px; }
    .header-top .number h6 {
      margin: 0;
      float: left;
      font-size: 22px;
      color: #c31458;
      font-weight: bold; }

.banner img {
  width: 100%; }

.content {
  text-align: center; }
  .content .first {
    padding: 9px 121px 0px 0px; }
    .content .first img {
      width: 30px; }
    .content .first p {
      font-weight: bold;
      font-size: 18px;
      margin-top: 9px; }
    .content .first h2 {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 25px; }
    .content .first span {
      font-size: 10px;
      font-weight: bold; }
  .content .second {
    margin-top: 28px;
    padding-right: 121px; }
    .content .second img {
      width: 231px; }
    .content .second .sps {
      margin: 0px 11px; }
    .content .second p {
      font-size: 13px;
      font-weight: bold;
      margin-top: 23px; }
  .content .third {
    width: 716px;
    margin: 75px 195px 31px;
    text-align: start;
    position: relative; }
    .content .third .tab {
      overflow: hidden;
      position: absolute;
      margin: -36px 0px; }
      .content .third .tab .tablinks {
        background: #5ba012;
        border: none;
        color: #fff;
        padding: 10px 25px 8px;
        border-radius: 5px 5px 0px 0px;
        font-size: 13px; }
        .content .third .tab .tablinks:hover {
          background: #71c517; }
        .content .third .tab .tablinks.active {
          background: #fff;
          border: 1px solid #5ba012;
          color: #131313;
          border-bottom: none; }
    .content .third .tabcontent {
      display: none;
      padding: 34px 1px 24px;
      border: 1px solid #5ba012;
      background: #fff;
      overflow: hidden;
      border-radius: 0px 4px 0px 0px; }
      .content .third .tabcontent .sun {
        width: 97px;
        float: left;
        color: #cf6767;
        margin-left: 4px; }
        .content .third .tabcontent .sun h6 {
          text-align: center;
          font-size: 13px;
          margin-bottom: 7px; }
        .content .third .tabcontent .sun .co {
          color: #131313; }
        .content .third .tabcontent .sun .cl {
          color: #5aa5c1; }
      .content .third .tabcontent .box {
        border-top: 1px solid #cf6767;
        background: #ffebeb;
        border-left: 1px dashed #cf6767;
        height: 99px;
        margin-top: 3px; }
        .content .third .tabcontent .box p {
          margin-left: 5px;
          margin-bottom: 0px; }
      .content .third .tabcontent .box1 {
        border-top: 1px solid #5ba012;
        background: #fff;
        border-left: 1px dashed #5ba012;
        height: 99px;
        margin-top: 3px;
        color: #131313; }
        .content .third .tabcontent .box1 p {
          margin-left: 5px;
          margin-bottom: 0px; }
        .content .third .tabcontent .box1 .click {
          background: #448aca;
          width: 75px;
          text-align: center;
          margin: 0px 12px;
          padding: 0.5px 0px; }
          .content .third .tabcontent .box1 .click a {
            font-size: 11px;
            color: #fff;
            text-decoration: none; }
        .content .third .tabcontent .box1 .click1 {
          background: #32b16c;
          width: 75px;
          text-align: center;
          margin: 0px 12px;
          padding: 0.5px 0px;
          margin-bottom: 3px; }
          .content .third .tabcontent .box1 .click1 a {
            font-size: 11px;
            color: #fff;
            text-decoration: none; }
      .content .third .tabcontent .box2 {
        border-top: 1px solid #3d3e3c;
        background: #fff;
        border-left: 1px dashed #3d3e3c;
        height: 99px;
        margin-top: 3px;
        color: #131313; }
      .content .third .tabcontent .box3 {
        border-top: 1px solid #5aa5c1;
        background: #daf5ff;
        border-left: 1px dashed #5aa5c1;
        height: 99px;
        margin-top: 3px;
        color: #5aa5c1; }
        .content .third .tabcontent .box3 p {
          margin-left: 5px;
          margin-bottom: 0px; }
      .content .third .tabcontent .box4 {
        border-top: 1px solid #5aa5c1;
        background: #fff;
        border-left: 1px dashed #5aa5c1;
        height: 99px;
        margin-top: 3px;
        color: #5aa5c1; }
    .content .third #one {
      display: block; }
    .content .third .hind {
      position: absolute;
      top: 51px;
      text-align: center;
      left: 189px;
      display: none; }
      .content .third .hind img {
        position: absolute;
        right: -13px;
        width: 29px; }
      .content .third .hind .on {
        width: 336px;
        border: 2px solid green;
        border-radius: 5px;
        margin-top: 10px;
        background: #fff; }
        .content .third .hind .on .one {
          overflow: hidden;
          padding: 30px 0px 19px;
          border-bottom: 1px dashed green; }
          .content .third .hind .on .one h6 {
            float: left;
            margin: 10px 29px;
            font-size: 12px; }
          .content .third .hind .on .one p {
            float: left;
            background: #32b16c;
            padding: 6.5px 47px;
            margin-left: 12px;
            font-size: 15px;
            color: #fff; }
        .content .third .hind .on .one1 {
          overflow: hidden;
          padding: 18px 0px 15px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind .on .one1 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 48px;
            font-size: 12px; }
        .content .third .hind .on .one2 {
          overflow: hidden;
          padding: 18px 0px 16px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind .on .one2 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 24px;
            font-size: 12px; }
        .content .third .hind .on .one3 {
          overflow: hidden;
          padding: 18px 0px 15px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind .on .one3 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 29px;
            font-size: 12px; }
        .content .third .hind .on .one4 {
          overflow: hidden;
          border-radius: 10px;
          padding: 16px 0px;
          width: 223px;
          background: #5ba012;
          margin: 30px auto 41px; }
          .content .third .hind .on .one4 a {
            color: #fff;
            font-size: 11px;
            font-weight: bold; }
    .content .third .hind1 {
      position: absolute;
      top: 51px;
      text-align: center;
      left: 189px;
      display: none; }
      .content .third .hind1 img {
        position: absolute;
        right: -13px;
        width: 29px; }
      .content .third .hind1 .on {
        width: 336px;
        border: 2px solid green;
        border-radius: 5px;
        margin-top: 10px;
        background: #fff; }
        .content .third .hind1 .on .one {
          overflow: hidden;
          padding: 30px 0px 19px;
          border-bottom: 1px dashed green; }
          .content .third .hind1 .on .one h6 {
            float: left;
            margin: 10px 29px;
            font-size: 12px; }
          .content .third .hind1 .on .one p {
            float: left;
            background: #448aca;
            padding: 6.5px 47px;
            margin-left: 12px;
            font-size: 15px;
            color: #fff; }
        .content .third .hind1 .on .one1 {
          overflow: hidden;
          padding: 18px 0px 15px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind1 .on .one1 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 48px;
            font-size: 12px; }
        .content .third .hind1 .on .one2 {
          overflow: hidden;
          padding: 18px 0px 16px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind1 .on .one2 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 24px;
            font-size: 12px; }
        .content .third .hind1 .on .one3 {
          overflow: hidden;
          padding: 18px 0px 15px;
          border-bottom: 1px dashed #5ba012; }
          .content .third .hind1 .on .one3 p {
            font-weight: bold;
            float: left;
            margin: 10px 13px 10px 29px;
            font-size: 12px; }
        .content .third .hind1 .on .one4 {
          overflow: hidden;
          border-radius: 10px;
          padding: 16px 0px;
          width: 223px;
          background: #5ba012;
          margin: 30px auto 41px; }
          .content .third .hind1 .on .one4 a {
            color: #fff;
            font-size: 11px;
            font-weight: bold; }
  .content .four {
    overflow: hidden;
    margin: 0 auto; }
    .content .four .left {
      float: left;
      margin-left: 194px;
      width: 353px;
      padding-bottom: 41px; }
      .content .four .left img {
        width: 353px;
        margin-bottom: 28px;
        padding-top: 12px; }
      .content .four .left a {
        color: #fff;
        background: #5ba012;
        padding: 5px 27px;
        border-radius: 30px;
        margin-left: 205px;
        font-size: 11px; }
    .content .four .right {
      text-align: start;
      font-weight: bold;
      margin-left: 16px;
      float: left; }
      .content .four .right span {
        color: #5ba012;
        font-size: 9.5px; }
        .content .four .right span strong {
          font-size: 20px; }
      .content .four .right p {
        margin-top: 5px;
        font-size: 12px; }
      .content .four .right h6 {
        font-weight: bold; }
      .content .four .right .bt {
        font-weight: bold;
        margin-top: 14px; }
        .content .four .right .bt a {
          padding: 12px 6px;
          font-size: 10px;
          border: 2px solid;
          border-radius: 8px;
          background: #fff; }
        .content .four .right .bt .new {
          color: #5ba012;
          border: 2px solid #5ba012;
          padding: 12px 21px 12px 6px; }
      .content .four .right .menu1 {
        overflow: hidden;
        margin-top: 21px;
        margin-left: 7px;
        text-align: center;
        width: 343px; }
        .content .four .right .menu1 .one {
          float: left;
          margin-right: 49px; }
          .content .four .right .menu1 .one img {
            width: 22px; }
          .content .four .right .menu1 .one p {
            margin: 0;
            color: #131313; }
        .content .four .right .menu1 .one1 {
          float: left; }
          .content .four .right .menu1 .one1 img {
            width: 22px; }
          .content .four .right .menu1 .one1 p {
            margin: 0;
            color: #131313; }
        .content .four .right .menu1 .one2 {
          float: left;
          margin: 19px 23px 0px 0px; }
          .content .four .right .menu1 .one2 img {
            width: 22px; }
          .content .four .right .menu1 .one2 p {
            margin: 0;
            color: #131313; }
        .content .four .right .menu1 .one3 {
          float: left;
          margin: 10px 0px 0px 0px; }
          .content .four .right .menu1 .one3 img {
            width: 22px; }
          .content .four .right .menu1 .one3 p {
            margin: 0;
            color: #131313; }
    .content .four .back {
      float: left;
      margin: 154px 0px 0px 15px; }
      .content .four .back a img {
        width: 126px; }

.final {
  width: 829px;
  margin: 0 auto;
  overflow: hidden; }
  .final .left {
    float: left; }
    .final .left img {
      width: 113px;
      margin: 10px 0px; }
    .final .left .change {
      margin: 0px 3px; }
  .final .right {
    float: left;
    margin-left: 36px; }
    .final .right a {
      text-decoration: none; }
      .final .right a img {
        margin: 24px 0px 10px;
        width: 93px; }
      .final .right a .change {
        margin: 24px 4px 10px; }

/*# sourceMappingURL=styles.css.map */
