/* vietnamese */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    font-family: 'Dancing Script', cursive;
    -moz-user-select: none !important;

    -webkit-touch-callout: none!important;

    -webkit-user-select: none!important;

    -khtml-user-select: none!important;

    -moz-user-select: none!important;

    -ms-user-select: none!important;

    user-select: none!important;
}

body{
	background: #e6e6e6;
	font-family: "Helvetica", "Arial";
	padding-top: 100px;
	text-align: center;
}

a{
	background: #D2D7D3;
	color: #222;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
    width: 47px;
    height: 48px;
	margin: 0 2px;
	padding-top: 12px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
a.icon:before{
	font-family: "FontAwesome", sans-serif;
	color: #fff;
	font-size: 20px;
}
a.facebook:before{
	content: '\f09a';
}
a.twitter:before{
	content: '\f099';
}
a.github:before{
	content: '\f113';
}
a.dribble:before{
	content: '\f17d';
}
a.pinterest:before{
	content: '\f0d2';
}

a span{
	background: #fff;
	color: #222;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: -25px;
	right: -25px;
	padding: 5px 7px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s;
	transition: all .4s;
}
a span:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	bottom: -5px;
	left: 40px;
}
a:hover span{
	bottom: 50px;
	visibility: visible;
	opacity: 1;
}

/* hover over the icons now to see the tooltips! */
a.facebook:hover{
	background-color: #4183d7;
    color: #bfbfbf;
    text-decoration: none;
}
a.facebook span{
	color: #4183d7;
}
a.twitter:hover{
	background-color: #19b5fe;
	color: #fff;
    text-decoration: none;
}
a.twitter span{
	color: #19b5fe;
}
a.github:hover{
	background-color: #000;
	color: #fff;
    text-decoration: none;
}
a.github span{
	color: #000;
}
a.dribble:hover{
	background-color: #f62459;
	color: #fff;
    text-decoration: none;
}
a.dribble span{
	color: #f62459;
}
a.pinterest:hover{
	background-color: #f22613;
	color: #fff;
    text-decoration: none;
}
a.pinterest span{
	color: #f22613;
}