body {
  margin: 0; }
  body #container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden; }

#header {
  margin: 5px;
  overflow: hidden; }
  #header .top-nav {
    margin-top: 5px;
    border-bottom: 3px solid #46bbff;
    padding-bottom: 5px;
    background: white; }
    #header .top-nav .row {
      padding-top: 5px; }
      #header .top-nav .row .logo {
        text-align: center; }
        #header .top-nav .row .logo:hover .overlay {
          bottom: -19%;
          height: 121%; }
        #header .top-nav .row .logo h1 {
          margin: 0; }
          #header .top-nav .row .logo h1 a {
            text-decoration: none;
            position: relative; }
            #header .top-nav .row .logo h1 a img {
              width: 50px; }
            #header .top-nav .row .logo h1 a .overlay {
              position: absolute;
              bottom: 100%;
              left: 0;
              right: 0;
              background-color: rgba(119, 0, 255, 0.2);
              overflow: hidden;
              width: 100%;
              height: 0;
              transition: .5s ease;
              border-radius: 25px;
              color: #eeff00; }
              #header .top-nav .row .logo h1 a .overlay h2 {
                font-size: 20px;
                transform: translate(0%, -30%);
                -ms-transform: translate(0%, -30%); }
      #header .top-nav .row .menu {
        overflow: hidden; }
        #header .top-nav .row .menu ul {
          padding: 0 50px;
          float: right; }
          #header .top-nav .row .menu ul li {
            display: inline-block;
            padding: 5px;
            margin: 5px; }
            #header .top-nav .row .menu ul li:hover {
              border-radius: 10px;
              background: rgba(220, 220, 220, 0.753);
              border-bottom: 2px solid #c7c7c7; }
            #header .top-nav .row .menu ul li:hover a {
              color: #b546ff; }
            #header .top-nav .row .menu ul li a {
              text-decoration: none;
              color: #46bbff;
              font-size: 15px;
              font-weight: bold; }
            #header .top-nav .row .menu ul li .chose {
              color: #b546ff; }
          #header .top-nav .row .menu ul .cs {
            border-radius: 10px;
            background: rgba(220, 220, 220, 0.753);
            border-bottom: 2px solid #c7c7c7; }
      #header .top-nav .row .search form {
        float: left;
        margin: 3px 0px; }
        #header .top-nav .row .search form input {
          border-radius: 10px;
          border: none;
          background: #dbdbdb;
          padding: 5px;
          border-bottom: 1px solid #8d8d8d; }
        #header .top-nav .row .search form button {
          border-radius: 10px;
          background: rgba(220, 220, 220, 0.753); }
      #header .top-nav .row .follow {
        margin-top: 10px;
        overflow: hidden; }
        #header .top-nav .row .follow .one {
          float: left;
          margin-right: 11px; }
          #header .top-nav .row .follow .one a img {
            opacity: .7; }
            #header .top-nav .row .follow .one a img:hover {
              opacity: 1; }
  #header .banner {
    background: lightblue;
    margin-top: 10px; }
    #header .banner .blog h2 {
      margin-left: 20px; }
    #header .banner .blog p {
      margin-left: 20px; }
    #header .banner .adver {
      background: #b1b0b0;
      margin: 10px 0px;
      padding: 5px 5px;
      width: 73%;
      /* jssor slider loading skin spin css */ }
      #header .banner .adver img {
        width: 90px;
        height: 100px;
        margin-left: 5px; }
      #header .banner .adver .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
      #header .banner .adver #jssor_1 {
        position: relative;
        margin: 0 auto;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100px;
        overflow: hidden;
        visibility: hidden; }
        #header .banner .adver #jssor_1 .jssorl-009-spin {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.7); }
          #header .banner .adver #jssor_1 .jssorl-009-spin img {
            margin-top: -19px;
            position: relative;
            top: 50%;
            width: 38px;
            height: 38px; }
        #header .banner .adver #jssor_1 .dt {
          cursor: default;
          position: relative;
          top: 0px;
          left: 0px;
          width: 980px;
          height: 100px;
          overflow: hidden; }
  #header .bxslider {
    margin-top: 10px; }
    #header .bxslider .slider img {
      height: 450px;
      width: 100%; }
  #header .bx-wrapper {
    margin: 0; }
  #header .bx-pager {
    margin-bottom: 50px; }

/*# sourceMappingURL=styles.css.map */
