
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    header{
    }
    section{
    }
    footer{
    }
}

.header-top{
    background: rgba(207, 208, 215, 0.104);
    overflow: hidden;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 999;
    h1{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Pacifico', cursive;
        color: #fff;
        font-size: 20px;
        margin: 0;
        margin: 15px 0 15px;
    }
    p{
        margin-top: 15px;
        color: #cfd0d7;
    }
    .nav{
        float: right;
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 11px;
                padding: 18px 20px;
                &:hover{
                    background: none;
                    border-top: 2px solid #32b0ee;
                    padding: 16px 20px 19px;
                }
            }
        }  
    }
}
.slider{
    overflow: hidden;
    .bg{
        width: 100%;
        position: absolute;
        z-index: -99999;
    }
}
.text{
    text-align: center;
    margin-top: 350px;
    color: #fff;
    h2{
        font-size: 50px;
    }
    h6{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    span{
        color: #0fde96;
    }
}
.contact{
    margin: 100px auto 64px;
    text-align: center;
    overflow: hidden;
    width: 171px;
    img{
        float: left;
        margin-right: 20px;
    }
    .last{
        margin: 0;
    }
}