*{
    margin: 0px;
    padding: 0px;
}
body,html,p,div,ul,li,h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
#envelop{
    #header{
        background: url(../img/bk2.png)no-repeat;
        background-size:100% 100%; 
        overflow: hidden;
        // position: fixed;
        .inner{
            width: 1344px;
            margin: 0 auto;
            overflow: hidden;
            img{
                margin: 58px 0px 0px 249px;
                width: 87px;
            }
            .hind{
                display: none;
            }
            .menu{
                width: 700px;
                color: white;
                float: right;
                margin: 65px 19px 0px 0px;
                ul{
                    list-style: none;
                    width: 320px;
                    float: left;
                    li{
                        display: inline-block;
                        margin-left: 50px;
                        font-size: 13px;
                    }
                }
                a{
                    background-color: #1da7ff; 
                    padding: 7px 24px;
                    border-radius: 22px;
                    text-decoration: none;
                    color: white;
                    font-size: 13px;
                }
            }
        }
        .banner{
            color: white;
            text-align: center;
            h1{
                font-size: 38.5px;
                margin: 166px 0px 0px 0px;
            }
            p{
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 183px;
                color: #bcb2d4; 
            }
        }
    }
    #content{
        overflow: hidden;
        text-align: center;
        h2{
            margin: 73px 0px 0px 0px;
            font-weight: bold;
            font-size: 39px;
            &::before{
                content: "";
                position: absolute;
                width: 83px;
                height: 10px;
                background: #5a4496;
                margin: 50px 0px 0px 81px;
            }
        }
        .our{
            margin-top: 133px;
            ul{
                list-style: none;
                .fi{
                    display: inline-block;
                    margin-right: 96px;
                    margin-left: 41px;
                    img{
                        width: 63px;
                    }
                    .two{
                        width: 80px;
                    }
                    .three{
                        width: 80px;
                    }
                    p{
                        margin: 53px 0 10px;
                        font-weight: bold;
                        font-size: 20px; 
                        color: #5e5e5e;   
                    }
                }
                .four{
                    display: inline-block;
                    img{
                        width: 59px;
                    }
                    .two{
                        width: 80px;
                    }
                    .three{
                        width: 80px;
                    }
                    p{
                        margin: 56px 0 10px;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
            .re{
                margin-bottom: 139px;
                margin-top: 83px;
                margin-left: 24px;
                a{
                    background-color: #1da7ff;
                    padding: 18px 49px;
                    margin: 0px 0px 0px 33px;
                    border-radius: 39px;
                    text-decoration: none;
                    color: white;
                    font-size: 21px;
                    letter-spacing: 0.5px;
                    &:hover{
                        background-color: white;
                        color: #1da7ff;
                        border: 2px solid #1da7ff; 
                    }
                }    
            }
        }
        .plut{
            background-color: #5b439c;
            .point{
                padding-top: 76px;
                padding-bottom: 67px;
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        margin-right: 10px;
                        margin-left: 11px;
                        dd{
                            color: #8776b7; 
                            font-weight: bold;
                            font-size: 68px;
                            height: 77px;
                        }
                        p{
                            color: white;
                            font-size: 34px;
                            margin-top: 6px;
                            &::before{
                                content: "";
                                background: #1da7ff;
                                width: 112px;
                                height: 2px;
                                margin: 56px 0px 0px 0px;
                                position: absolute;
                            }
                        }
                    }
                    .dc{
                        display: inline-block;
                        margin-right: 128px;
                        margin-left: 130px;
                    }
                    .dp{
                        display: inline-block;
                        margin-right: 10px;
                        margin-left: 6px;
                    }
                }
            }
        }
        .work{
            overflow: hidden;
            background-color: #eeeeee;
            margin: 0 auto;
            h2{
                margin: 129px 0px 0px 0px;
                font-weight: bold;
                font-size: 39px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 83px;
                    height: 10px;
                    background: #5a4496;
                    margin: 50px 0px 0px 59px;
                }
            }
            .ui{
                overflow: hidden;
                width: 1000px;
                margin: 64px auto 93px;
                img{
                    float: left;
                    width: 323px;
                    margin-left: 26px;
                    margin-top: 32px;
                }
                .oit{
                    float: left;
                    width: 284px;
                    margin: 0px 0px 0px 7px;
                }
                .lst{
                    float: left;
                    width: 323px;
                    margin-left: 10px;
                    margin-top: 32px;
                }
            }
        }
        .valu{
            overflow: hidden;
            background-color: white;
            h2{
                margin: 116px 0px 0px 0px;
                font-weight: bold;
                font-size: 39px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 83px;
                    height: 10px;
                    background: #5a4496;
                    margin: 50px 0px 0px 154px;
                }
            }
            .lo{
                margin-top: 112px;
                margin-bottom: 117px;
                img{
                    width: 104px;
                    margin: 0px 32px;
                }
            }
        }
        .want{
            background-color: #5b439c;
            p{
                color: white;
                font-size: 22px;
                padding: 73px 0px 0px 0px;
            }
            .hn{
                border: 0px;
                margin: 16px 0px 77px -126px;
                font-size: 13px;
                padding: 9px 184px 9px 31px;
                border-radius: 30px 0px 0px 30px;
            }
            .hm{
                position: absolute;
                border: 0px;
                margin: 16px 0px 0px 0px;
                font-size: 13px;
                padding: 9px 35px 9px 30px;
                border-radius: 0px 30px 30px 0px;
                color: white;
                background:  #1da7ff;
            }
        }
        .l6{
            background: #28272f;
            color: white;
            overflow: hidden;   
            .all{
                width: 853px;
                margin:  0 auto;
                .top{
                    margin-top: 52px;
                    overflow: hidden;
                    p{
                        float: left;
                        font-size: 23px;
                        &::before{
                            content: '';
                            background: #57565e;
                            height: 1px;
                            width: 851px;
                            position: absolute;
                            margin: 91px 0px 0px 0px;
                        }
                    }
                    img{
                        float: right;
                        width: 183px;
                        margin-top: 5px;
                    }
                }
                .bottom{
                    ul{
                        margin-top: 98px;
                        margin-bottom: 42px;
                        li{
                            display: inline-block;
                            width: 210px;
                            img{
                                float: left;
                                width: 53px;
                            }
                            p{
                                margin-left: 81px;
                                text-align: start;
                                margin-top: 7px
                            }
                            dd{
                                color: #89888d;
                                font-size: 10px;
                                text-align: start;
                                margin-left: 82px;
                            }
                        }
                        .main{
                            margin: 0px 90px 0px 125px;
                        }
                    }
                }
            }
        }
    }
    #footer{
        overflow: hidden;
        background-color: #22212a;
        padding: 44px;
        p{
            font-weight: bold;
            font-size: 16px;
            span{
                color: #1d9ef1;
            }
        }
    }
}
@media (max-width: 768px) {
    .menu{
        margin: 0px;
        color: white;
        float: right;
        position: fixed;
        background: #5b439c;
        width: 31%;
        height: 38%;
        top: 61px;
        right: -100%;
        transition: all 3s;
        
        ul{
            list-style: none;
            float: right;
            width: 200px;
            li{
                margin-left: 0px;
                display: list-item;
                margin-bottom: 20px;
                text-align: center;
            }
            .help{
                margin-left: 21px;
            }
        }
    }
    .menu.open{
        right: 0px;
        }
}