html{
  font-family: sans-serif;
  line-height: 1.15;
}
body{
  margin: 0; 
}
h1{
  font-size: 2em;
  margin: .67em 0; 
}
figure{
  margin: 1em 40px; 
}
hr{
  box-sizing: content-box;
  height: 0; 
}
a{
  background-color: transparent;
}
a:active, a:hover{
  outline-width: 0; 
}
img{
  border-style: none; 
}
a{
  text-decoration: none; 
}
a:hover{
  text-decoration: underline;
}
.float-left{
  float: left; 
}
.float-right{
  float: right; 
}
.float-none{
  float: none; 
}
.clearfix{
  clear: both; 
}
.list-inline li{
  display: inline-block; 
}
.list-unstyled{
  list-style: none; 
}
.text-center, .solutions .info .price, .solutions-box-footer, .terms .box-title h3, .copyright{
  text-align: center; 
}
.text-right{
  text-align: right; 
}
.d-flex{
  display: flex; 
}
.mr-auto{
  margin-right: auto !important; 
}
.panel{
  display: flex;
  padding: 30px 0;
  max-width: 1203px;
  margin: 0 auto; 
}
  .panel .pan-menu{
    background: url(../img/menu.png) no-repeat;
    display: block;
    margin-right: 65px;
    height: 18px;
    width: 25px; 
  }
  .panel .pan-logout{
    background: url(../img/logout.png) no-repeat;
    display: block;
    margin-left: 55px;
    height: 29px;
    width: 33px; 
  }
  .panel .phone-number{
    background: #ffd200;
    border-radius: 15px;
    padding: 0 36px;
    margin-top: -10px; 
  }
.btn{
  border-radius: 15px;
  padding: 23px 35px; 
}
.btn-border{
  border: 1px solid #010101;
  color: #212121;
  text-transform: uppercase; 
}
.btn-primary{
  background: #e11a27;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase; 
}
.container{
  max-width: 1079px;
  margin: 0 auto; 
}
.heading{
  font-size: 60px;
  color: #000; 
}
.banner{
  background: url(../img/jumbotron.png) no-repeat;
  background-size: 100%;
  padding: 64px 0 265px; 
}
  .banner h2{
    font-size: 60px;
    line-height: 0; 
  }
  .banner h3{
    font-size: 24px;
    margin-bottom: 70px; 
  }
.step{
  background: #fff;
  padding: 55px 0 90px; 
}
  .step .d-flex{
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    z-index: 0; 
  }
    .step .d-flex img{
      background: #fff; 
    }
.advantage{
  background: #f3f0e7;
  padding: 60px 0 80px; 
}
  .advantage li{
    width: calc(100%/3); 
  }
  .advantage .title{
    font-size: 24px; 
  }
  .advantage p{
    font-size: 16px;
    width: 270px;
    margin: 0 auto; 
  }
  .advantage .d-flex{
    margin-bottom: 70px; 
  }
.solutions{
  padding: 70px 0 115px; 
}
  .solutions .d-flex{
    flex-flow: row wrap;
    justify-content: center; 
  }
  .solutions .active{
    position: relative; 
  }
    .solutions .active::after{
      content: "BESTSELLER";
      color: #e11a27;
      font-weight: bold;
      position: absolute;
      top: -13px;
      left: 112px; 
    }
    .solutions .active::before{
      content: "";
      background: url(../img/best-sell.png) no-repeat top center;
      height: 21px;
      width: 193px;
      position: absolute;
      top: -21px;
      left: 69px; 
    }
  .solutions-box{
    background: #ffd200;
    border-radius: 10px;
    padding: 5px;
    margin: 0 17px;
    height: 100%;
    width: 314px; 
  }
    .solutions-box h3{
      font-size: 36px; 
    }
  .solutions .info{
    background: #fff;
    padding: 20px 0;
    position: relative;
    height: 290px; 
  }
    .solutions .info ul{
      list-style: url(../img/list.png); 
    }
    .solutions .info .price{
      font-size: 60px;
      line-height: 0;
      position: absolute;
      bottom: 0;
      left: 26%; 
    }
  .solutions-box-footer{
    font-size: 21px;
    padding-top: 10px;
    line-height: 0; 
  }
    .solutions-box-footer a{
      color: #000; 
    }
.testimonials{
  background: url(../img/testimonials.png);
  background-size: 100%;
  padding: 0px 0 55px; 
}
  .testimonials-content{
    width: 539px; 
  }
    .testimonials-content .info img{
      margin-right: 30px; 
    }
    .testimonials-content .info a.btn{
      margin-left: 95px; 
    }
    .testimonials-content .info-bio {
      overflow: hidden; }
    .testimonials-content .name{
      font-size: 30px;
      margin-top: 60px;
      line-height: 0; 
    }
    .testimonials-content .job{
      font-size: 18px; 
    }
    .testimonials-content .caption{
      font-size: 18px; 
    }
    .testimonials-content a.float-right{
      margin-bottom: 115px; 
    }
.terms{
  padding: 90px 0 120px; 
}
  .terms .d-flex{
    flex-flow: row wrap;
    justify-content: center; 
  }
  .terms-box{
    border-radius: 5px;
    width: 314px;
    margin-right: auto; 
  }
  .terms .box-content{
    background: #f7f0e6;
    padding: 35px 30px; 
  }
  .terms .box-title{
    background: #ffd200;
    border-bottom: 5px solid #fff; 
  }
    .terms .box-title h3{
      padding: 20px 0 0;
      text-transform: uppercase; 
    }
  .terms a.btn{
    display: inline-block;
    margin-top: 80px; 
  }
.footer{
  background: #ffd200;
  padding: 50px 0 55px;
  overflow: hidden; 
}
  .footer .float-left{
    width: 78%; 
  }
    .footer .float-left ul{
      display: inline-block; 
    }
  .footer .float-right{
    width: calc(100%-78%); 
  }
    .footer .float-right ul{
      display: inline-block; 
    }
  .footer-list{
    border-top: 1px solid #000;
    padding: 20px 0;
    margin: 0 50px 0 0;
    font-size: 18px; 
  }
    .footer-list li{
      margin: 10px 0;
      padding-right: 50px; 
    }
    .footer-list a{
      color: #000; 
    }
.social{
  padding-right: 45px;
  margin-bottom: 50px; 
}
  .social li{
    display: inline-block;
    padding-right: 20px;
    margin: 0; 
  }
  .social a{
    background: url(../img/social.png);
    display: block;
    width: 24px;
    height: 24px; 
  }
    .social a.facebook{
      background-position: 0 0; 
    }
    .social a.vk{
      background-position: -44px 0; 
    }
    .social a.instagram{
      background-position: 24px 0; 
    }
.design-by{
  display: block; 
}
.copyright{
  font-size: 14px; 
}