body header {
  background: #27a3dc;
  overflow: hidden; }
body footer {
  background: #37bfef;
  overflow: hidden; }

.row {
  margin: 0; }

.text {
  color: #ec1e24;
  background: #fff; }
  .text h2 {
    font-size: 53px;
    margin-bottom: 6px; }
  .text span {
    font-size: 45px; }

.nav-top {
  overflow: hidden;
  width: 1051px;
  margin: 0 auto; }
  .nav-top .menu {
    padding-left: 37px; }
    .nav-top .menu ul {
      margin: 13px 0px 7px;
      padding: 0; }
      .nav-top .menu ul li {
        display: inline-block; }
        .nav-top .menu ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 17px;
          font-weight: bold;
          border-right: 1px solid white;
          padding: 0 10px; }
          .nav-top .menu ul li a:hover {
            color: #8ec31b; }
        .nav-top .menu ul li .last {
          border: none; }
  .nav-top .contact {
    overflow: hidden; }
    .nav-top .contact form {
      float: left;
      width: 206px; }
      .nav-top .contact form input {
        border: none;
        border-radius: 10px;
        margin: 12px 31px 0px;
        width: 162px; }
      .nav-top .contact form a img {
        width: 18px;
        position: absolute;
        left: 182px;
        top: 13px; }
    .nav-top .contact .social {
      float: left;
      border: 1px solid white;
      border-top: none;
      border-bottom: none;
      overflow: hidden; }
      .nav-top .contact .social a {
        padding: 13px 9px 15px;
        border-right: 1px solid white; }
        .nav-top .contact .social a img {
          width: 25px;
          padding: 13px 0 9px; }
      .nav-top .contact .social .last {
        border: none; }

.logo {
  width: 979px;
  border: 1px dashed #efefef;
  border-top: none;
  border-bottom: none;
  margin: 0 auto; }
  .logo a img {
    width: 221px;
    margin: 65px 21px 55px; }

.nav {
  background: #37bfef; }
  .nav .border {
    margin: 7px 0;
    border: 1px dashed #efefef;
    border-left: none;
    border-right: none;
    position: relative; }
    .nav .border .menu {
      width: 979px;
      border: 1px dashed #efefef;
      border-top: none;
      border-bottom: none;
      margin: 0 auto; }
      .nav .border .menu ul {
        margin: 0;
        padding: 0; }
        .nav .border .menu ul li {
          display: inline-block;
          text-align: center;
          padding: 7px 21px 7px 66px; }
          .nav .border .menu ul li a:link, .nav .border .menu ul li a:visited {
            text-decoration: none;
            color: #fff; }
            .nav .border .menu ul li a:link:hover, .nav .border .menu ul li a:visited:hover {
              color: #8ec31b; }
            .nav .border .menu ul li a:link strong, .nav .border .menu ul li a:visited strong {
              font-size: 20px; }

.home {
  border: 1px dashed #efefef;
  border-left: none;
  border-right: none;
  border-top: none; }
  .home h2 {
    width: 979px;
    border-left: 1px dashed #efefef;
    border-right: 1px dashed #efefef;
    margin: 0 auto;
    font-size: 10px;
    padding: 17px 19px;
    font-size: 13px;
    color: #878787; }

.content {
  width: 979px;
  margin: 0 auto;
  border-left: 1px dashed #efefef;
  border-right: 1px dashed #efefef;
  overflow: hidden; }
  .content .event {
    width: 163px;
    margin: 13px 16px 111px; }
  .content .calenda {
    float: right;
    width: 258px;
    margin: 10px 10px 0px; }

.firste {
  border-top: 1px dashed #efefef;
  overflow: hidden;
  padding: 15px 20px; }
  .firste:hover {
    background: #efefef; }
  .firste .one {
    float: left; }
    .firste .one img {
      width: 66px; }
  .firste .two {
    float: left; }
    .firste .two h3 {
      margin: 0;
      padding-left: 13px;
      font-size: 20px;
      padding-bottom: 15px; }
    .firste .two p {
      margin-left: 19px;
      font-size: 13px; }
  .firste .three {
    float: right; }
    .firste .three img {
      width: 255px; }

.more {
  border-top: 1px solid #8ec31b;
  float: left;
  width: 190px;
  margin-top: 22px;
  padding-top: 8px; }
  .more a {
    color: #8ec31b;
    margin-left: 24px; }

.up img {
  width: 100px;
  margin-left: 248px;
  margin-top: 47px;
  margin-bottom: 5px; }

.footer {
  overflow: hidden;
  border-top: 1px dashed #efefef;
  border-bottom: 1px dashed #efefef;
  margin: 5px 0;
  position: relative; }
  .footer::before {
    content: '';
    border-left: 1px dashed #efefef;
    height: 143px;
    position: absolute;
    left: 184px; }
  .footer::after {
    content: '';
    border-left: 1px dashed #efefef;
    height: 143px;
    position: absolute;
    right: 184px; }

.logo1 {
  float: left; }
  .logo1 img {
    margin-left: 205px;
    width: 169px;
    margin-top: 48px;
    margin-bottom: 40px; }

.text1 {
  float: left;
  color: white;
  margin-left: 20px;
  margin-top: 49px; }
  .text1 p {
    font-size: 17px; }

/*# sourceMappingURL=styles.css.map */
