body{
    font-family: 'Dancing Script', cursive;
    header{
    }
    section{
    }
    footer{
    }
}

.row{
    margin: 15px;
}

.admin{
    text-align: center;
    h1{
        margin: 0;
        a{
            img{
                width: 100px;
            }
        }
    }
    h2{
        font-size: 50px;
    }
}