html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0; 
}
article,
aside,
footer,
header,
nav,
section {
  display: block; 
}
h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}
figcaption,
figure,
main {
  display: block; 
}
figure {
  margin: 1em 40px; 
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0; 
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit; 
}
b,
strong {
  font-weight: bolder; 
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic; 
}
mark {
  background-color: #ff0;
  color: #000; 
}
small {
  font-size: 80%; 
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; 
}
sub {
  bottom: -0.25em; 
}
sup {
  top: -0.5em; 
}
audio,
video {
  display: inline-block; 
}
audio:not([controls]) {
  display: none;
  height: 0; 
}
img {
  border-style: none; 
}
svg:not(:root) {
  overflow: hidden; 
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible; 
}
button,
select {
  text-transform: none; 
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; 
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; 
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto; 
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; 
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; 
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block; 
}
summary {
  display: list-item; 
}
canvas {
  display: inline-block; 
}
template {
  display: none; 
}
[hidden] {
  display: none; 
}
* {
  margin: 0;
  padding: 0;
  outline: 0; 
}
a {
  text-decoration: none; 
}
a:hover {
  text-decoration: underline; 
}
.container {
  width: 960px;
  margin: 0 auto; 
}
.pull-left {
  float: left; 
}
.pull-right {
  float: right; 
}
.list-inline li {
  display: inline-block; 
}
.list-unstyled {
  list-style: none; 
}
.text-center {
  text-align: center; 
}
.clearfix {
  clear: both; 
}
.col-6 {
  width: 50%;
  float: left; 
}
.col-12 {
  width: 100%;
  float: left; 
}
.pd {
  padding: 20px 25px 25px; 
}
main {
  overflow: hidden; 
}
#top {
  background: #ffb8b8;
  font-size: 14px;
  padding: 10px 0; 
}
.intro {
  background: url(../img/slider_bg.jpg);
  height: 300px;
  margin-bottom: 20px; 
}
#primary {
  width: 680px;
  float: left; 
}
.box {
  margin-bottom: 30px; 
}
  .box-title {
    position: relative; 
  }
    .box-title img {
      position: absolute;
      top: -18px;
      left: 10px; 
    }
    .box-title h2 {
      background: url(../img/bg_title_1.jpg);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      font-size: 24px;
      padding: 12px 0 12px 156px;
      margin-top: 36px; 
    }
  .box .box-content {
    background: #efefef;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
    .box .box-content p {
      color: #666; 
    }
  .box .content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
  }
    .box .content p {
      font-size: 14px;
      line-height: 24px; 
    }
.huychuong .box-title img {
  top: -24px; 
}
.huychuong .box-title .date {
  background: url(../img/huychuong_button.png) no-repeat;
  height: 28px;
  padding: 3px 20px 0;
  position: absolute;
  top: 8px;
  left: 100px;
  width: 212px; 
}
  .huychuong .box-title .date span {
  color: #fff; 
}
.huychuong .box-title h2 {
  background: url(../img/bg_title_huychuong.jpg);
  font-size: 30px;
  padding: 40px 0 3px 98px; 
}
.huychuong .box-content {
  background: #ffc4c4;
  border-radius: 0; 
}
  .huychuong .box-content:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
.huychuong .content {
  position: relative; 
}
  .huychuong .content .top {
    position: absolute;
    top: 0;
    left: 10px; 
  }
.huychuong h3.title {
  background: #fffeca;
  border-bottom: 1px solid #ffc4c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 26px 0px 26px 94px;
  color: #fa5a5c; 
}
.huychuong .description {
  overflow: hidden;
  margin-bottom: 20px; 
}
.huychuong .col-1 {
  width: 210px;
  float: left; 
}
.huychuong .col-2 {
  padding-left: 230px; 
}
  .huychuong .col-2 p {
    letter-spacing: 0.24em;
    color: #666; 
  }
.huychuong .btn {
  background: url(../img/button/bg.png);
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 9px 0px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  position: relative; 
}
  .huychuong .btn img {
    position: absolute;
    left: 128px;
    top: 8px; 
  }
.huychuong .info table {
  width: 100%; 
}
.huychuong .info td {
  border: 1px solid #cdcdcd;
  color: #333;
  padding: 10px 0; 
}
  .huychuong .info td.color {
    color: #ff3d3f; 
  }
  .huychuong .info td:first-child {
    background: #ececec;
    font: bold 14px;
    text-align: center;
    width: 34%; 
  }
  .huychuong .info td:last-child {
    font-size: 13px;
    padding-left: 20px; 
  }
.end .box-content {
  border-radius: 10px; 
}
aside {
  margin-left: 30px;
  width: 250px;
  float: left; 
}
  aside .widget {
    background: #f6f6f6;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    margin-top: 36px;
    margin-bottom: 16px;
    padding: 2px; 
  }
    aside .widget:nth-child(2) h3.title {
      padding: 6px 21px 4px 50px; 
    }
  aside .widget-title {
    position: relative; 
  }
  aside .icon {
    position: absolute;
    top: 7px;
    left: 10px; 
  }
  aside h3.title {
    background: url(../img/aside/bg_title.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 13px 0 13px 50px; 
  }
  aside .pd {
    padding: 20px 1px 25px; 
  }
  aside ul {
    list-style-image: url(../img/aside/arrow.png);
    list-style-position: inside; 
  }
  aside li {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0 10px 10px; 
  }
    aside li:last-child {
      border-bottom: 0;
      padding-bottom: 0; 
    }
    aside li a {
      color: #2995e1;
      font-size: 14px; 
    }
#footer {
  background: #fd7393;
  color: #fff;
  padding: 44px 0; 
  text-align: center;
}
