/* vietnamese */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    font-family: 'Dancing Script', cursive;
    -moz-user-select: none !important;

    -webkit-touch-callout: none!important;

    -webkit-user-select: none!important;

    -khtml-user-select: none!important;

    -moz-user-select: none!important;

    -ms-user-select: none!important;

    user-select: none!important;
}

body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background: #232323;
  }
  div {
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
  }
  h1 {
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    font-size: 75px;
    color: #aaaaaa;
    margin: 60px 0 0 0;
  }
  h2 {
    text-align: center;
    color: #bbbbbb;
    margin: 0px 0 70px 0;
  }
  p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  
  small {
    opacity: 0;
  }
  
  .show-description p {
    height: 150px;
  }
  
  .show-description small {
    opacity: 1;
  }
  
  .first{
    background-image: url("../images/firstcourse.jpg");
  }
  .second{
    background-image: url("../images/secondcourse.jpg");
  }
  .dessert{
    background-image: url("../images/dessertcourse.jpg");
  }
  .price {
    float: right;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
    small {
      font-size: 16px;
    }
  }
  