#envelop {
  margin: 43px 42px; }
  #envelop #header {
    background: url(../img/banner.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden; }
    #envelop #header .menu {
      float: right;
      width: 140px;
      margin-top: 27px; }
      #envelop #header .menu p {
        float: left;
        margin-left: 11px;
        font-size: 15px; }
      #envelop #header .menu a {
        margin-left: 18px; }
        #envelop #header .menu a img {
          width: 17px; }
    #envelop #header .banner {
      float: left;
      margin: 179px 153px 276px 153px; }
      #envelop #header .banner h1 {
        font-size: 42px; }
        #envelop #header .banner h1 strong {
          color: black; }
      #envelop #header .banner p {
        margin-top: 20px;
        font-weight: bold; }
      #envelop #header .banner dd::before {
        background: black;
        content: '';
        position: absolute;
        height: 67px;
        width: 1px;
        margin: 22px 3px; }
  #envelop #content {
    overflow: hidden;
    margin-top: 43px; }
    #envelop #content .photo {
      background: url(../img/bk1.png) no-repeat;
      background-size: 100% 100%;
      overflow: hidden; }
      #envelop #content .photo .right {
        width: 681px;
        float: right;
        margin: 131px 0px 0px 0px; }
        #envelop #content .photo .right h2 {
          margin-left: 99px;
          font-size: 39px;
          letter-spacing: 2px; }
        #envelop #content .photo .right p {
          margin: 30px 0px 0px 0px;
          font-weight: bold; }
        #envelop #content .photo .right img {
          margin: 67px 13px 93px 0px;
          width: 28px; }
    #envelop #content .girl {
      background: url(../img/pk2.png) no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
      margin-top: 41px; }
      #envelop #content .girl .one {
        margin: 285px 0px 283px 43px;
        width: 63px; }
      #envelop #content .girl .two {
        margin: 285px 43px 283px 0px;
        width: 63px;
        float: right; }
    #envelop #content .ut {
      background: url(../img/bk3.png) no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
      margin-top: 42px; }
      #envelop #content .ut .left {
        width: 500px;
        float: left;
        margin: 156px 0px 0px 153px; }
        #envelop #content .ut .left h2 {
          font-size: 41px; }
        #envelop #content .ut .left p {
          margin: 28px 0px 282px 0px;
          font-weight: bold; }
    #envelop #content .girl2 {
      background: url(../img/bk4.png) no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
      margin-top: 40px; }
      #envelop #content .girl2 .one {
        margin: 290px 0px 278px 42px;
        width: 63px; }
      #envelop #content .girl2 .two {
        margin: 290px 42px 278px 0px;
        width: 63px;
        float: right; }
  #envelop #footer {
    background: url(../img/bk5.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 42px;
    text-align: center;
    overflow: hidden; }
    #envelop #footer .top {
      margin: 82px 0px 0px 0px; }
      #envelop #footer .top h2 {
        font-size: 43px; }
      #envelop #footer .top p {
        margin: 27px 0px 80px 0px;
        font-weight: bold; }
    #envelop #footer .bottom {
      width: 492px;
      text-align: start;
      margin: 84px auto;
      overflow: hidden; }
      #envelop #footer .bottom p {
        padding: 8px 0px 8px 17px;
        border: 1px solid black;
        width: 233px;
        float: left; }
      #envelop #footer .bottom .hi {
        padding: 8px 0px 8px 17px;
        border: 1px solid black;
        width: 233px;
        float: left;
        margin-left: 26px; }
      #envelop #footer .bottom dd {
        padding: 8px 0px 80px 17px;
        border: 1px solid black;
        width: 492px;
        float: left;
        margin-top: 16px; }
      #envelop #footer .bottom a {
        padding: 9px 0px 9px 17px;
        background-color: black;
        color: white;
        text-align: center;
        width: 492px;
        float: left;
        margin-top: 24px;
        margin-bottom: 33px; }

/*# sourceMappingURL=styles.css.map */
