
body {
  margin: 0; 
}

h1 {
  font-size: 2em;
  margin: .67em 0; 
}

a {
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

.float-left, .navbar .nav, .nav-brand {
  float: left; 
}

.float-right, .social-icon {
  float: right; 
}

.float-none {
  float: none; 
}

.clearfix {
  clear: both; 
}

.list-inline li, .social-icon li {
  display: inline-block; 
}

.list-unstyled, .slider-navigator, .breakfast-left__list {
  list-style: none; 
}

.text-center, .banner, .art-of-cakes .content, .slider-time, .breakfast-left, .breakfast-menu__title, .breakfast-menu__text, .breakfast-menu__time {
  text-align: center; 
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 70px; 
}
  .navbar .nav {
    margin: 30px 0 0 100px; 
  }
    .navbar .nav__list {
      margin: 0 90px 0 0;
      position: relative; 
    }
      .navbar .nav__list::after {
        content: "~";
        color: #fff;
        margin-left: 10px;
        position: absolute;
        right: -45px; 
      }
      .navbar .nav__list:last-child::after {
        content: ""; 
      }
    .navbar .nav a {
      font: 14px "Alegreya-Regular";
      color: #fff;
      margin-right: 20px;
      text-transform: uppercase; 
    }

.nav-brand {
  margin-top: 18px;
  transition: all .3s; 
}
  .nav-brand:hover {
    opacity: .8; 
  }

.btn {
  background: transparent;
  display: inline-block;
  font: 14px/24px "Alegreya-Bold";
  padding: 20px 50px;
  text-transform: uppercase;
  transition: all .3s; 
}
  .btn:hover {
    text-decoration: none; 
  }
  .btn--banner {
    background: rgba(0, 0, 0, 0.2);
    border: 1px dashed #9e9c93;
    color: #fff;
    letter-spacing: 5px; 
  }
    .btn--banner:hover {
      background: rgba(0, 0, 0, 0.5); 
    }
  .btn--menu {
    border: 1px solid #9e9c93;
    color: #a47d5e;
    font: bold 18px "Alegreya-Bold";
    margin: 0 85px;
    padding: 16px 70px; 
  }
    .btn--menu:hover {
      background: rgba(164, 125, 94, 0.8);
      color: #fff; 
    }

.container {
  max-width: 1260px;
  margin: 0 auto; 
}

#header {
  background: url(../images/common/header.jpg);
  background-size: 100%;
  border-bottom: 10px solid #fff;
  padding: 0 0 91px;
  position: relative; 
}
  #header .header__bullet {
    background: url(../images/common/bullet.png);
    bottom: -57px;
    position: absolute;
    height: 106px;
    width: 106px;
    left: calc(50%/1.07); 
  }

.social-icon {
  margin: 30px 0; 
}
  .social-icon li {
    margin-right: 30px; 
  }
  .social-icon a {
    background: url(../images/common/social.png) no-repeat;
    display: block;
    height: 16px;
    transition: all .3s;
    width: 16px; 
  }
    .social-icon a.twitter {
      background-position: 0 0; 
    }
    .social-icon a.facebook {
      background-position: -40px 0; 
    }
    .social-icon a.instagram {
      background-position: -80px 0; 
    }
    .social-icon a:hover {
      opacity: .8; 
    }

.banner {
  color: #fff;
  padding-top: 90px; 
}
  .banner__title {
    font: 92px "PlayfairDisplay-Bold"; 
  }
  .banner__subtitle {
    font: 24px/36px "Proxima-Nova";
    margin-top: 38px;
    display: inline-block; 
  }
    .banner__subtitle::after {
      display: block;
      content: "";
      clear: both; 
    }

.blockquote {
  color: #a47d5e;
  font: 24px/30px 'SCRIPTIN';
  position: relative; 
}
  .blockquote::after {
    content: "";
    background: url(../images/common/blockquote_open.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 23px; 
  }
  .blockquote::before {
    content: "";
    background: url(../images/common/blockquote_close.png);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 14px;
    width: 23px; 
  }

.art-of-cakes {
  background: #fff;
  padding: 100px 0; 
}
  .art-of-cakes .content {
    display: flex; 
  }
    .art-of-cakes .content__title {
      color: #56534c;
      font: bold 48px/0 "Alegreya-Bold"; 
    }
      .art-of-cakes .content__title--24 {
        font-size: 24px;
        line-height: 30px; 
      }
    .art-of-cakes .content__subtitle {
      color: #a47d5e;
      font: bold 14px/0 "Alegreya-Regular";
      text-transform: uppercase; 
    }
    .art-of-cakes .content__text {
      color: #56534c;
      font: 14px/24px "Proxima-Nova";
      margin-top: 70px;
      width: 470px; 
    }
    .art-of-cakes .content-right {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: relative; 
    }
      .art-of-cakes .content-right__list-item {
        margin: 0 20px;
        box-sizing: border-box;
        outline: 5px solid #fff;
        outline-offset: -18px;
        overflow: hidden;
        transition: outline .3s; 
      }
        .art-of-cakes .content-right__list-item:hover {
          outline-color: #a47d5e; 
        }
      .art-of-cakes .content-right__cake-center {
        background: url(../images/home/cake_center.png);
        height: 247px;
        width: 247px;
        position: absolute;
        top: 165px;
        left: 272px;
        opacity: .9; 
      }
  .art-of-cakes .chef-cook {
    display: flex;
    justify-content: center; 
  }
    .art-of-cakes .chef-cook__left, .art-of-cakes .chef-cook__right {
      padding: 34px 22px;
      position: relative; 
    }
      .art-of-cakes .chef-cook__left::after, .art-of-cakes .chef-cook__right::after {
        content: "";
        border-top: 1px solid #d7d5ca;
        position: absolute;
        width: 111px;
        height: 1px;
        bottom: 15px;
        left: -15px; 
      }
      .art-of-cakes .chef-cook__left::before, .art-of-cakes .chef-cook__right::before {
        content: "";
        border-bottom: 1px solid #d7d5ca;
        position: absolute;
        width: 111px;
        height: 1px;
        top: 15px;
        left: -15px; 
      }
    .art-of-cakes .chef-cook__center {
      margin: 0px 30px; 
    }

.perfect-pancakes {
  background: url(../images/home/perfect_pancakes.jpg);
  background-size: 100% 100%;
  padding: 140px 0 108px; 
}

.slider {
  display: flex;
  justify-content: center; 
  margin-right: 38px;
}
  .slider-right {
    background: #fff url(../images/home/slider/right_background.png) bottom right no-repeat;
    padding: 80px 60px 0px;
    width: 550px;
    position: relative; 
  }
    .slider-right__title {
      color: #56534c;
      font: bold 48px/0 "Alegreya-Bold"; 
    }
    .slider-right__subtitle {
      color: #a47d5e;
      font: 14px/0 "Alegreya-Bold";
      text-transform: uppercase; 
    }
    .slider-right__text {
      color: #56534c;
      font: 14px/24px "Proxima-Nova";
      margin: 65px 0 100px; 
    }
  .slider-time {
    background: url(../images/home/slider/slider_texture.jpg) no-repeat;
    box-shadow: 0 0 85px #888;
    height: 200px;
    width: 200px;
    position: absolute;
    top: -50px;
    right: -60px; 
  }
    .slider-time__ready {
      color: #a47d5e;
      font: bold 18px/0 "Alegreya-Bold";
      text-transform: uppercase;
      margin-top: 46px; 
    }
    .slider-time__time {
      color: #dfc691;
      font: bold 92px/0 "Alegreya-Bold";
      margin-top: 45px; 
    }
    .slider-time__min {
      color: #979285;
      font: bold 18px/0 "Alegreya-Bold";
      margin-top: -25px; 
    }
  .slider-navigator {
    display: flex;
    justify-content: center; 
  }
    .slider-navigator__list {
      margin: 0 30px; 
    }
      .slider-navigator__list:first-child {
        margin-left: 0; 
      }
      .slider-navigator__list:hover {
        opacity: .8; 
      }
  .slider-pager {
    position: relative; 
  }
  .slider-control__prev, .slider-control__next {
    background: url(../images/home/slider/slider_control.png) no-repeat;
    position: absolute;
    height: 35px;
    top: 35px;
    width: 35px;
    text-indent: -9999px; 
  }
    .slider-control__prev:hover, .slider-control__next:hover {
      background: url(../images/home/slider/slider_control.png) no-repeat; }
  .slider-control__prev {
    background-position: 0 0;
    left: 0; 
  }
    .slider-control__prev:hover {
      background-position: -71px 0; 
    }
  .slider-control__next {
    background-position: -35px 0;
    right: 0; 
  }
    .slider-control__next:hover {
      background-position: -105px 0; 
    }

.breakfast {
  background: url(../images/home/breakfast/breakfast.jpg);
  background-size: 100% 100%;
  padding: 90px 0 0; 
}
  .breakfast .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
  }
  .breakfast-left {
    width: 630px; 
  }
    .breakfast-left .list__item--font-title .list__item__title {
      font: bold 60px/0 "Alegreya-Bold"; 
    }
    .breakfast-left .list__item__title {
      color: #fff;
      font: bold 30px/0 "Alegreya-Bold";
      margin-bottom: 50px; 
    }
    .breakfast-left .list__item__open {
      color: #c8a593;
      font: bold 18px/0 "Alegreya-Bold";
      margin-bottom: 70px;
      text-transform: uppercase; 
    }
    .breakfast-left .list__item__text {
      color: #c2beba;
      font: 16px/0 "Proxima-Nova";
      margin-bottom: 40px; 
    }
    .breakfast-left .list__item__price {
      color: #dfc691;
      font: 36px/0 "Alegreya-Regular";
      margin-bottom: 50px; 
    }
  .breakfast-menu {
    background: url(../images/home/breakfast/breakfast_menu.png) no-repeat;
    height: 588px;
    padding: 50px 0 70px;
    width: 458px;
    overflow: hidden; 
  }
    .breakfast-menu__content {
      width: 370px;
      margin: 0 auto; 
    }
    .breakfast-menu__title {
      color: #56534c;
      font: bold 44px/60px "Alegreya-Bold"; 
    }
    .breakfast-menu__text {
      color: #56534c;
      font: 14px/30px "Proxima-Nova";
      padding: 0 15px;
      margin-bottom: 35px; 
    }
    .breakfast-menu__header {
      margin-top: 25px; 
    }
      .breakfast-menu__header::after {
        display: block;
        content: "";
        clear: both; 
      }
    .breakfast-menu__time {
      color: #56534c;
      font: bold 14px "Alegreya-Bold";
      width: 50%;
      margin-top: -20px; 
    }
    .breakfast-menu__line {
      background: url(../images/home/breakfast/breakfast_menu_line.png) no-repeat;
      height: 61px; 
    }
  #footer img{
        width: 1348px;
   }
